.bordaroxa{
    border: 2px solid purple;
}

.meucontainer{
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.profile{
    width: 60%;
    
}

.mt-5{
    margin-top: 5px;
}

.icons{
    width: 80%;
}

.mdn{
    width: 30%;
}

h4:hover{
    color: red;
}